.order-detail{
    margin: 30px 9% 40px;

    @media (min-width: $tablet) {
        margin: 30px 0 40px;
    }
}

.text-greetings{
    font: normal 400 13px/24px $font;

    @media (min-width: $tablet) {
        font: normal 400 17px/30px $font;
        margin-left: 5%;
        margin-right: 5%;
    }

    @media (min-width: $desktop) {
        margin-left: 20%;
        margin-right: 21%;
    }
}

.order-detail__subtittle{
    font: normal 700 17px/16px $font;
    text-transform: uppercase;
    color: $highlight-color;
    display: flex;
    align-items: center;

    @media (min-width: $tablet) {
        padding-top: 41px;
        margin-right: 25%;
        margin-left: 5%;

        &--email{
            margin-right: 22%;
            white-space: nowrap;
        }
    }

    @media (min-width: $desktop) {
        margin-right: 9%;
        margin-left: 8%;

        &--email{
            margin-right: 7%;
        }
    }
}

.order-detail__type{
    @media (min-width: $tablet) {
        display: flex;
        align-items: flex-start;
    }
}

.order-detail__subtittle::after {
    content: "";
    flex: 1;
    height: 1px;
    margin-left: 20px;
    background-color: $highlight-color;

    @media (min-width: $tablet) {
       display: none;
    }
}

.checkbox-text, .form-line{
    font: normal 700 17px/18px $font;

    @media (min-width: $tablet) {
        font: normal 700 19px/18px $font;
    }
}

.order-detail__color{
    @media (min-width: $tablet) {     
        display: flex;
        align-items: flex-start;
        background-color: $light-bg-color;
        padding-bottom: 20px;
    }
}

.order-detail__data{
    @media (min-width: $tablet) {
        display: flex;
        align-items: flex-start;
        margin-right: 5%;
    }
}

.order-detail__checkbox{
    @media (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        justify-content: space-between;
    }
}

.custom-checkbox
{
    cursor: pointer;
    margin-bottom: 35px;
}

.custom-checkbox>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox>span::before {
  content: '';
  display: inline-block;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid $text-color;
  margin-right: 29px;
  background-repeat: no-repeat; 
}

.custom-checkbox>span:hover::before{
    border: 2px solid $highlight-color;
}

.custom-checkbox>span:active::before{
    border: 2px solid #969090;
}

.custom-checkbox>input:checked+span::before {
  background-color: transparent;
  background-position: center;
  background-image: url("../img/tick.svg");
}

input[type=checkbox]
{
  display: none;
}

.checkbox-line{
    margin-bottom: 10px;

    @media (min-width: $tablet) {
        flex-basis: 50%;
    }

    @media (min-width: $desktop) {
        flex-basis: 33%;
    }
}

.form-radio {
    margin: 38px 0
}
.form-radio input[type=radio] {
	display: none;
}
.form-radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 68px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.form-radio label:before {
	content: "";
	display: inline-block;
	width: 42px;
	height: 42px;
	position: absolute;
    top: -11px;
	left: 0;
	bottom: 1px;
	background: url("../img/radio.svg") 0 0 no-repeat;
}
 
.form-radio input[type=radio]:checked + label:before {
	background: url("../img/active.svg") 0 0 no-repeat;
}

.form-line{
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
        display: flex;
        flex-direction: inherit;
        align-items: baseline;
        justify-content: space-around;
    }

}

.form-line input{
    display: block;
    background: none;
    border: 0;
    border-bottom: 2px solid $text-color;
    padding: 17px 0;
    font: normal 400 17px/18px $font;

    &::placeholder {
        font: normal 400 17px/18px $font;
    }

    @media (min-width: $tablet) {
        width: 100%;
        margin-left: 20px;
        font: normal 400 19px/18px $font;

        &::placeholder {
            font: normal 400 19px/18px $font;
        }
    }
}

.form-line input:hover, .contacts-info:hover{
    border-bottom: 2px solid $highlight-color;
}

.form-line input:focus, .contacts-info:focus{
    outline: 0;
    border-bottom: 2px solid $highlight-color;
}

.order-detail__contacts{
    @media (min-width: $tablet) {
        background-color: $light-bg-color;
        padding-bottom: 20px;
    }

    @media (min-width: $desktop) {
        padding-bottom: 64px;
    }
}

.order-detail__number, .order-detail__email{
    @media (min-width: $tablet) {
        display: flex;
        align-items: flex-end;
    }
}

.order-detail__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @media (min-width: $tablet) {
        margin-right: 5%;
        width: 100%;
    }
}

.order-detail__form{
    @media (min-width: $tablet) {
        width: 100%;
    }
}

.contacts-info{
    background: none;
    border: 0;
    border-bottom: 2px solid $text-color;
    padding: 17px 0;

    &::placeholder {
        font: normal 400 17px/18px $font;
    }

    @media (min-width: $tablet) {
        font: normal 400 19px/18px $font;
    }
}

.order-detail__img{
    position: absolute;
}

.order-detail__img--phone{
    right: 8px;
}

.order-detail__img--email{
    right: 4px;
}

.order-detail__additional{
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
        margin-right: 5%;
    }
}

.order-detail__addition{
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet) {
        display: flex;
        flex-direction: initial;
        align-items: baseline;
    }
}

.order-detail__placeholder{
    height: 142px;
    padding: 10px;
    font: normal 400 17px/18px $font;

    &::placeholder{
        padding: 10px;
        font: normal 400 17px/18px $font;
    }

    @media (min-width: $tablet) {
        width: 100%;

        &::placeholder{
            font: normal 400 19px/18px $font;
        }
    }
}

.order-detail__placeholder:hover{
    border: 1px solid $highlight-color;
}

.order-detail__placeholder:focus{
    outline: 0;
    border: 2px solid $highlight-color;
}

.order-detail__end-information{
    @media (min-width: $tablet) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

.order-detail__text--aditional{
    font: normal 400 14px/16px $font;
    text-align: right;
    color: $text-color;

    @media (min-width: $tablet) {
        font: normal 400 17px/30px $font;
    }
}

.order-detail__button{
    margin: 38px auto ;
    display: block;
    font: normal 700 18px/20px "Open Sans";
    color: $text-color;
    background: $main-bg-color;
    padding: 12px 0;
    border: 2px solid $text-color;
    width: 100%;
    text-transform: uppercase;

    @media (min-width: $tablet) {
        margin-top: 28px;
        margin-left: 5%;
        padding: 12px 47px;
        width: inherit;
    }

    @media (min-width: $tablet) {
        margin-left: 20.5%;
        padding: 12px 28px;
    }
}

.order-detail__button:hover{
    background-color: $dark-tetx-color;
    color: $main-bg-color;
    opacity: 0.8;
}

.order-detail__button:active{
    opacity: 0.6;
}